# Example environment variables (do NOT commit real keys)
RESEND_API_KEY=re_KvoYKLTP_HESfiVESbzWKKUXBX3Jj1MLk
CONTACT_EMAIL=troteseil.lucas@gmail.com
NEXT_PUBLIC_SITE_URL=portfolio-lucas-ecru.vercel.app
